@use "../../../styles/global.scss" as *;
.Steps {
  margin: $margin-lg 0;
  align-items: center;
  justify-content: center;
  display: flex;

  &__item {
    margin: $margin-md 0;
  }
  &__title {
    color: $color-azure-blue;
  }
  &__accent {
    color: $color-black;
    font-style: italic;
  }
  &__image {
    border: solid $border-xs $color-black;
    border-radius: $radius-xs;
    max-width: 700px;
    width: 100%;
  }
  &__text {
    margin-bottom: $margin-lg;
    max-width: 70ch;
  }
}
